.mainContents, .reports, .reportsContents{
	width: 100%;
	color: #888;
	padding: 20px 30px 0px 30px;
}
.mainContents form{
	padding: 30px 30px 0px 30px;
	color: #989898;
}
.mainContents form input{
	border: none;
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
	width: 100%;
}
.mainContents form input[name="curPass"]{
	margin-bottom: 6px !important;
}
.mainContents form input[name="newPass"]{
	margin-bottom: 34px !important;
}
.HideItem{
	display: none!important;
}
p table{
	width: 100%;
	color: #989898;
}
.fa-check-circle-o{
	color: green;
}
.jraStewardReports a{text-decoration: none; color: green;}
.jraStewardReports a:hover{color: red;text-decoration: none;}
.jraStewardReports a{height: 24px; line-height: 24px;}
